.float-what {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 1.5rem;
  right: 1.5rem;
  background-color: #25d366;
  color: #fff;
  @include circle;
  text-align: center;
  font-size: 2rem;
  display: grid;
  //   box-shadow: 2px 2px 3px #999;
  z-index: 100;
  .fa {
    align-self: center;
  }
}
.float-what:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
  border: 2px solid #25d366;
}
