/* poppins-600 - latin */
@font-face {
  font-family: "Swiss-Bold";
  font-style: normal;
  font-weight: 600;
  src: local(""), 
        url("../fonts/Swiss-721-Bold-Rounded-BT/Swiss-721-Bold-Rounded-BT.woff2") format("woff2"),
        url("../fonts/Swiss-721-Bold-Rounded-BT/Swiss-721-Bold-Rounded-BT.woff") format("woff");
}
